*{
    margin: 0px;
    padding: 0px;
}
header{
    margin-top: 0px;
    padding-top: 0px;
    background-color: gray;
}

body{
    margin: 0px;
}


.headerDI{
    width: auto;
    height: 50px;
    
    margin-top: 0px;
    padding-top: 0px;
    background-color: black;

}
.header_h1{
    position: absolute;
    color: gray;
    margin-left: 540px;
    
    
    padding-top: 2px;
    font-family: 'Indie Flower', cursive;
    
    
    
}
/*Begin Верхнии картинки-ссылки*/
.vk{
    background: url(../pictures/vk.png) no-repeat center;
    width: 30px;
    height: 30px;
    float: right;
    
    padding-top: 20px; 
    padding-right: 5px;
}
.vk:hover{
    background: url(../pictures/vk2.png) no-repeat center;
    width: 30px;
    height: 30px;
    float: right;
    
    padding-top: 20px; 
    padding-right: 5px;
}


.fb{
    background: url(../pictures/fb.png) no-repeat center;
    width: 30px;
    height: 30px;
    float: right;
    padding-top: 20px;
    padding-right: 20px;
    
}
.fb:hover{
    background: url(../pictures/fb2.png) no-repeat center;
    width: 30px;
    height: 30px;
    float: right;
    padding-top: 20px;
    padding-right: 20px;
    
}
/*End Верхнии картинки-ссылки*/

/*Begin поиск*/
.inputtext{
margin-top: 15px;
}
.picsearch{
    position: relative;
    background: url(../pictures/search.png);
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 180px;
    margin-top: -23px;
}
.picsearch:hover{
    position: relative;
    background: url(../pictures/search2.png);
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 180px;
    margin-top: -23px;
}
/*End поиск*/


/*Begin/ reviewsh1*/
.reviewsh1{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    background-color: gray;
    
}
/*End/ reviewsh1*/


/*Begin reviews*/
.reviews{
    
    height: 300px;
    width: 300px;
    margin-top: 5px;
    margin-left: 30px;
    font-family: 'Indie Flower', cursive;
    
    
    
}
.revh1{
    color: navajowhite;
}
.reviews1{
    position: absolute;
    display: inline-block;
    width: 400px;
    height: 300px;
    text-align: center;
    border: 0.5px solid red;
    background-color: rgba(115, 198, 247, 0.568);
    
    
}
.reviews2{
    position: absolute;
    display: inline-block;
    width: 400px;
    height: 300px;
    margin-left: 450px;
    text-align: center;
    border: 0.5px solid red;
    background-color: rgba(115, 198, 247, 0.568);
    
}
.reviews3{
    position: absolute;
    display: inline-block;
    width: 400px;
    height: 300px;
    margin-left: 900px;
    text-align: center;
    border: 0.5px solid red;
    background-color: rgba(115, 198, 247, 0.568); 
}


/*End reviews*/


/*Begin Шрифты*/
@font-face{
    font-family: 'Indie Flower', cursive;
    src: url(https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap);
}
/*End Шрифты*/

/*Begin content*/
.menu{
    display: inline-flex;
    text-align: center;
    margin-left: 300px;
    float: right;
    
    
    
}
a{
    text-decoration: none;
    color: teal;
    font-size: 35px;
    
}
a:hover{
    text-decoration: none;
    color: black;
    font-size: 38px;

}
.conpicmain{
    background: url(../pictures/main.png) no-repeat left center;
    margin-left: 200px;
    padding-left: 30px;
    
    
}
.conpicnews{
    background: url(../pictures/news.png) no-repeat left center;
    margin-left: 200px;
    padding-left: 30px;
}
.conpiccontacts{
    background: url(../pictures/contacts.png) no-repeat left center;
    margin-left: 200px;
    padding-left: 30px;
    
}
.conpicabout{
    background: url(../pictures/about.png) no-repeat left center;
    margin-left: 200px;
    margin-right: 50px;
    padding-left: 30px;
}
/*End content*/
