*{
    margin: 0px;
    padding: 0px;
}
header{
    margin-top: 0px;
    padding-top: 0px;
}

body{
    margin: 0px;
}


.headerDI{
    width: auto;
    height: 50px;
    
    margin-top: 0px;
    padding-top: 0px;
    background-color: black;

}
.header_h1{
    position: absolute;
    color: gray;
    margin-left: 50%;
    padding-top: 5px;
    
    
}
/*Begin Верхнии картинки-ссылки*/
.vk{
    background: url(../pictures/vk.png) no-repeat center;
    width: 30px;
    height: 30px;
    float: right;
    
    padding-top: 20px; 
    padding-right: 5px;
}
.vk:hover{
    background: url(../pictures/vk2.png) no-repeat center;
    width: 30px;
    height: 30px;
    float: right;
    
    padding-top: 20px; 
    padding-right: 5px;
}


.fb{
    background: url(../pictures/fb.png) no-repeat center;
    width: 30px;
    height: 30px;
    float: right;
    padding-top: 20px;
    padding-right: 20px;
    
}
.fb:hover{
    background: url(../pictures/fb2.png) no-repeat center;
    width: 30px;
    height: 30px;
    float: right;
    padding-top: 20px;
    padding-right: 20px;
    
}
/*End Верхнии картинки-ссылки*/

/*Begin поиск*/
.inputtext{
margin-top: 15px;
}
.picsearch{
    position: relative;
    background: url(../pictures/search.png);
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 180px;
    margin-top: -23px;
}
.picsearch:hover{
    position: relative;
    background: url(../pictures/search2.png);
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 180px;
    margin-top: -23px;
}
/*End поиск*/
